<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<h3>Please select a date and time</h3>
<input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
<h3>Please select a medical department</h3>
<select class="form-select" id="validationDefault04" required>
    <option selected disabled value="">Choose...</option>
    <option>...</option>
</select>

<h3>Shifts</h3>
<div class="card" style="width: 18rem; height: 80px;">
    <div class="card-body">
      Emergency Room
      12/21/20 @ 12PM-4PM
    </div>
  </div>